{{ define "title" }}
<title>{{ .Title }}</title>
{{ end }}


{{ define "content" }}
    <section class="dashboard-container">
        <h1>Welcome Aboard!</h1>
        
    </section>

    <section id="digital-alibi" class="dashboard-container">
        <h1>Welcome Aboard! Digital alibi</h1>
        
    </section>

    <section id="maintenance-cont" class="dashboard-container">
        <h1>Welcome Aboard! maintenace</h1>
        
    </section>

    <section id="reports-cont" class="dashboard-container">
        <h1>Welcome Aboard! reports</h1>
        
    </section>
{{ end }}